.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameStatus {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.blockSize {
    width: 30px;
    height: 30px;
}

.boardRow {
    display: flex;
    flex-direction: row;
}